*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0; }

.arrow {
  opacity: 0.3;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  margin-top: 100px; }

.circle-small {
  position: absolute;
  border-radius: 50%;
  background-color: #FFCD33;
  top: -20px;
  left: -20px;
  height: 150px;
  width: 150px; }

.circle-big {
  position: absolute;
  border-radius: 50%;
  background-color: #FFCD33;
  top: -100px;
  right: -50px;
  height: 900px;
  width: 900px; }

.container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr; }

.header {
  overflow: hidden;
  padding: 50px;
  background-color: #FFF9E6;
  font-size: 18px;
  grid-template-rows: 1fr 10fr 1fr;
  min-height: 900px;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "header-logo header-nav header-contacts" ". header-text ." ". header-thumbs ."; }
.header-logo {
  position: relative;
  grid-area: header-logo;
  justify-self: center; }
.header-nav {
  position: relative;
  grid-area: header-nav; }
.header-nav-link {
  text-decoration: none;
  color: #000;
  margin-right: 30px; }
.header-img {
  position: absolute;
  height: 1000px;
  left: 58%; }
.header-contacts {
  position: relative;
  justify-self: center;
  grid-area: header-contacts; }
.header-contacts-link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase; }
.header-contacts-phone {
  font-size: 20px;
  font-weight: 900;
  margin-right: 28px; }
.header-text {
  color: #000;
  position: relative;
  grid-area: header-text;
  max-width: 650px; }
.header-title {
  font-size: 62px; }
.header-subtitle {
  font-size: 22px; }
.header-button1 {
  width: 220px;
  text-decoration: none;
  font-size: 14px;
  background-color: #FF591F;
  color: white;
  padding: 26px 29px;
  display: inline-block;
  border-radius: 100px;
  font-weight: 700;
  margin-top: 30px;
  margin-right: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 9px 46px 0px rgba(255, 89, 31, 0.56), 0px 10px 40px 0px rgba(255, 89, 31, 0.35);
          box-shadow: 0px 9px 46px 0px rgba(255, 89, 31, 0.56), 0px 10px 40px 0px rgba(255, 89, 31, 0.35); }
.header-button1:hover {
  -webkit-box-shadow: none;
          box-shadow: none; }
.header-button2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FF591F;
  text-shadow: 0px 9px 46px 0px rgba(255, 89, 31, 0.56), 0px 10px 40px 0px rgba(255, 89, 31, 0.35); }
.header-button2:hover {
  -webkit-box-shadow: none;
          box-shadow: none; }
.header-thumbs {
  grid-area: header-thumbs;
  font-size: 15px;
  font-weight: 700; }
.header-thumbs-link {
  color: #000;
  text-decoration: none;
  margin-right: 10px; }

.section-title {
  grid-row: 1/2;
  grid-column: 2/3;
  color: #000000;
  font-size: 55px;
  font-weight: 500; }
.section-description {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #666666;
  font-size: 22px;
  font-weight: 300;
  line-height: 34px; }

.about {
  grid-template-rows: 1fr 1fr 3fr;
  min-height: 850px; }
.about-row {
  -ms-flex-line-pack: center;
      align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2/3;
  grid-row: 3/4; }
.about-block {
  position: relative;
  display: grid;
  grid-template-rows: 250px;
  grid-auto-rows: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }
.about-title {
  margin-top: -70px;
  margin-left: 50px;
  width: 94px;
  height: 67px;
  color: #ff591f;
  font-size: 90px;
  font-weight: 500; }
.about-text {
  margin-left: 50px;
  margin-top: -45px;
  width: 127px;
  height: 43px;
  color: #000000;
  font-size: 22px;
  font-weight: 300; }

.service {
  grid-template-rows: 1fr 0.5fr 4fr; }
.service-nav {
  grid-column: 2/3;
  grid-row: 2/3; }
.service-nav-link {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 28px;
  font-size: 18px;
  font-weight: 700;
  color: #000; }
.service-img {
  grid-column: 1/2;
  margin-left: -350px; }
.service-text {
  grid-row: 1/2;
  grid-column: 2/3; }
.service-content {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  grid-row: 3/4; }
.service .check {
  list-style-image: url(../img/checked.png);
  font-size: 22px;
  font-weight: 300;
  line-height: 50px; }
.service li {
  padding-left: 23px; }

.calculator {
  grid-template-rows: 0.5fr 4fr; }
.calculator-inner {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  grid-column: 2/3;
  grid-row: 2/3; }
.calculator-inner select {
  border: none;
  padding-left: 32px;
  font-size: 20px;
  font-weight: 300;
  height: 65px;
  border-radius: 10px;
  background-color: #f3f3f3; }
.calculator-inner h2 {
  font-size: 48px;
  font-weight: 500; }
.calculator-row {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: #666666;
  font-size: 20px;
  font-weight: 300; }
.calculator-block {
  grid-row-gap: 10px;
  display: grid;
  grid-template-rows: 1fr 3fr; }
.calculator-cost {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 50px;
  padding-left: 50px;
  height: 192px;
  border-radius: 10px;
  border: 4px solid #f3f3f3;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
.calculator-cost span {
  grid-column: 1/2; }
.calculator-cost ul {
  grid-column: 2/3;
  grid-row: 1/3;
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  margin-left: 0;
  padding-left: 0; }
.calculator-cost li {
  list-style-type: none;
  line-height: 36px; }
.calculator-cost-title {
  font-size: 16px;
  font-weight: 300; }
.calculator-cost-end {
  margin-top: -50px;
  font-size: 55px;
  font-weight: 500; }
.calculator-contacts {
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr; }
.calculator-contacts .header-button1 {
  margin: 0;
  width: 223px;
  height: 70px; }
.calculator-contacts span {
  grid-column: 1/4; }
.calculator-contacts input {
  padding-left: 27px;
  font-size: 20px;
  font-weight: 300;
  width: 330px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3; }

.works {
  grid-template-rows: 1fr 3fr; }
.works-arrow {
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: -30px; }
.works-example {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-row: 2/3;
  grid-column: 2/3; }
.works-example-block {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 2fr;
  height: 569px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  border-radius: 10px; }
.works-example-block h3, .works-example-block span, .works-example-block div {
  margin-left: 51px; }
.works-example-block h3 {
  font-size: 25px;
  font-weight: 400; }
.works-example-block span {
  color: #999999;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px; }

.models {
  grid-template-rows: 1fr 3fr; }
.models-arrow {
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: -30px; }
.models-row {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px; }
.models-row-block {
  display: grid;
  grid-template-rows: 340px 50px;
  justify-items: center;
  font-size: 20px;
  font-weight: 300; }
.models-row-block img {
  grid-row: 1/2;
  grid-column: 1/2; }
.models-row-block-yellow {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
.models-row-block-yellow:hover {
  opacity: 1; }

.partners {
  grid-template-rows: 1fr 1fr; }
.partners-arrow {
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: -30px; }
.partners-row {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px; }
.partners-row-block {
  display: grid;
  grid-template-rows: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.partners-row-block img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
.partners-row-block img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%); }

.question-title {
  font-size: 47px;
  font-weight: 500; }
.question-inner {
  grid-column-gap: 50px;
  display: grid;
  grid-template-rows: 2fr 1.5fr repeat(3, 1fr);
  grid-template-columns: 3fr 2fr;
  grid-column: 2/3;
  grid-row: 1/2; }
.question-inner .feedback {
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 2/3;
  grid-row: 1/6;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  height: 488px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 40px; }
.question-inner .feedback-privacy {
  color: #999999;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px; }
.question-inner .feedback .header-button1 {
  margin: 0; }
.question-inner .feedback input {
  height: 70px;
  border-radius: 10px;
  background-color: #f3f3f3;
  border: none;
  padding-left: 27px;
  opacity: 0.5;
  color: #000000;
  font-size: 20px;
  font-weight: 300; }
.question-inner .feedback .messengers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px; }
.question-inner .feedback .messengers-block {
  display: grid;
  justify-items: center;
  grid-gap: 10px; }
.question-inner .subtitle {
  color: #666666;
  font-size: 22px;
  font-weight: 300;
  line-height: 29.63px; }
.question-inner .question-phone {
  font-size: 30px;
  font-weight: 700; }
.question-inner .adress {
  font-size: 20px;
  font-weight: 300; }
.question-inner .email {
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline; }

.footer {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px; }
.footer-block-contacts {
  color: black; }
.footer-block span {
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  margin-right: 10px; }
.footer-block-social {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center; }
.footer-nav {
  margin: 5px; }
.footer-nav-row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-column: 1/4;
  grid-row: 1/2; }
.footer span {
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  line-height: 37px; }
.footer a {
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  line-height: 37px; }
